.container {
  position: relative;
  margin: 2rem 0;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
}

.clipboardBtn {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: transparent;
  color: white;
  text-align: center;
  z-index: 10;
}
  
