.container {
  position: relative;
  margin: 2rem 0;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
}

.clipboardBtn {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 15px;
  right: 90px;
  background-color: transparent;
  color: white;
  text-align: center;
  z-index: 10;
}

.textNotCopied {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2px;
}

.textCopied {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--green);
}
  
