.container {
  width: 100%;
  max-width: 120rem;
  min-height:  calc(100vh - 15rem);
  margin: 1rem auto;
}

.postContainer {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 8px;

  background-color: var(--gray-800);
}

.date {
  color: var(--gray-200);
}

.title {
  color: var(--green);
}

.description {
  color: var(--gray-100);
}

.readBnt {
  background-color: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 8px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}
