.container {
  background-color: transparent;
  width: 70%;
  margin: 0 auto;
  padding: 1rem;

  a {
    color: var(--green);
    text-decoration: underline;
  }
}

.date {
  font-size: 1.8rem;
  color: var(--gray-200);
}
